= simple_form_for @post, html: { multipart: true } do |f|

	.form-group
		= image_tag(@post.image_url(:small)) if @post.image?
		= f.file_field :image, multiple: false
		= f.hidden_field :image_cache
	.form-group
		= f.input :title
	.form-group
		= f.input :link
	.form-group
		= f.input :description

	= f.button :submit
